## Verification and testing of n8n workflow

# Test 1 
n8n execution
<img width="994" height="633" alt="image" src="https://github.com/user-attachments/assets/e28c3075-123c-435a-b387-00c5c0e2904b" />

one row in github_issue_ledger
<img width="2076" height="48" alt="image" src="https://github.com/user-attachments/assets/21005c4c-b14f-441f-a611-5d3ecb371934" />

one row in github_issue_route_log with expected route name
<img width="2404" height="112" alt="image" src="https://github.com/user-attachments/assets/532a57ce-b426-4cf1-b608-cb69307d1462" />


# Test 2
n8n execution
<img width="994" height="566" alt="image" src="https://github.com/user-attachments/assets/80e5d769-59df-4f5f-a598-d5d0eaff7e25" />

one row in github_issue_ledger
<img width="2074" height="22" alt="image" src="https://github.com/user-attachments/assets/2d54953a-326a-45f7-8f1a-b129ae29c09b" />

one row in github_issue_route_log with expected route name
<img width="2404" height="52" alt="image" src="https://github.com/user-attachments/assets/50b9e996-b668-4e3f-b7a1-9ba52d63b72b" />


# Test 3
n8n execution
<img width="994" height="504" alt="image" src="https://github.com/user-attachments/assets/e59dad2f-7f36-47e6-a087-b137411a8c21" />

one row in github_issue_ledger
<img width="2072" height="28" alt="image" src="https://github.com/user-attachments/assets/1613c136-e1d4-4cc9-b0ae-ed0aa89ade64" />

one row in github_issue_route_log with expected route name
<img width="2406" height="50" alt="image" src="https://github.com/user-attachments/assets/4a753aae-57e2-42a3-bf38-fcaa6db31c58" />


# Test 4
n8n execution
<img width="994" height="563" alt="image" src="https://github.com/user-attachments/assets/d076a67f-c702-4721-bac7-685ffb194312" />

one row in github_issue_ledger
<img width="2076" height="22" alt="image" src="https://github.com/user-attachments/assets/c6e213e9-6e49-46f7-bc33-a3e649701e8d" />

one row in github_issue_route_log with expected route name
<img width="2410" height="48" alt="image" src="https://github.com/user-attachments/assets/ba63e69e-5614-4ffd-82f7-abd7d755af60" />


